#about{
    padding: 10px;
    background-color: cadetblue;
    color: white;
    font-family:serif;
    display: flex;
    justify-content:space-evenly;

}

#foto_mia{
    width:11%;
    height:200px;
    border-radius: 50%;
    display:flex;
    justify-content: flex-start;
    margin:0;
}

.encabezado{
    position:flex;
    justify-content:space-between;
    text-align: center;
    font-size:2.5em;
}

.sobre{
    background-color: darkgray;
    color:black;
    margin: 0;
    padding: 10px;
}

#desc{
    width:80%;
}

