#about{
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%,
    rgba(6,158,62,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-family:serif;
    display: flex;
    justify-content:space-evenly;
}


#foto_mia {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 50px;
    object-position: 50% 100%;
}

.encabezado{
    position:flex;
    justify-content:space-between;
    text-align: center;
    font-size:3.5em;
}

#sobre{
    color:black;
    margin: 0;
    padding: 10px;
}

#desc{
    width:75%;
}

#sobre>p{
    font-size: 25px;
    font-family:'Franklin Gothic Medium';
}

#saludo{
    color: bisque;
    text-align: center;
    font-size:45px;
}