.logos{
    max-width:300px;
    max-height:400px;
    
    text-align: center;
}

.document{
    background-color: darkcyan;
    text-align: center;
}

#container-hab{
    text-align: center;
    padding-left:320px;
    width:60%;
    display: flex;
    
    gap:2em;
}

.grov1{
    flex-grow:1;
}

.list{
    background-color: blanchedalmond;
    height:202px;
}

ul{
    list-style-type: none;
}

.hability>li{
    font-size:1.2em;
}